@font-face {
    font-family: 'NunitoLight' ;
    src: url('../fonts/nunito/Nunito-Light.ttf') format(truetype);
}
@font-face {
    font-family: 'NunitoBold' ;
    src: url('../fonts/nunito/Nunito-Bold.ttf') format(truetype);
}
$primary : #203966

